<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.admin.mapper.ContractsMapper">
    
    <resultMap type="Contracts" id="ContractsResult">
        <result property="id"    column="id"    />
        <result property="houseId"    column="house_id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="landlordId"    column="landlord_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="rentAmount"    column="rent_amount"    />
        <result property="depositAmount"    column="deposit_amount"    />
        <result property="status"    column="status"    />
        <result property="contractFile"    column="contract_file"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectContractsVo">
        select id, house_id, tenant_id, landlord_id, start_date, end_date, rent_amount, deposit_amount, status, contract_file, created_at, updated_at from contracts
    </sql>

    <select id="selectContractsList" parameterType="Contracts" resultMap="ContractsResult">
        <include refid="selectContractsVo"/>
        <where>  
            <if test="houseId != null "> and house_id = #{houseId}</if>
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
            <if test="landlordId != null "> and landlord_id = #{landlordId}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="rentAmount != null "> and rent_amount = #{rentAmount}</if>
            <if test="depositAmount != null "> and deposit_amount = #{depositAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="contractFile != null  and contractFile != ''"> and contract_file = #{contractFile}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
        </where>
    </select>
    
    <select id="selectContractsById" parameterType="Long" resultMap="ContractsResult">
        <include refid="selectContractsVo"/>
        where id = #{id}
    </select>

    <insert id="insertContracts" parameterType="Contracts" useGeneratedKeys="true" keyProperty="id">
        insert into contracts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="houseId != null">house_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="landlordId != null">landlord_id,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="rentAmount != null">rent_amount,</if>
            <if test="depositAmount != null">deposit_amount,</if>
            <if test="status != null">status,</if>
            <if test="contractFile != null">contract_file,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="houseId != null">#{houseId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="landlordId != null">#{landlordId},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="rentAmount != null">#{rentAmount},</if>
            <if test="depositAmount != null">#{depositAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="contractFile != null">#{contractFile},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateContracts" parameterType="Contracts">
        update contracts
        <trim prefix="SET" suffixOverrides=",">
            <if test="houseId != null">house_id = #{houseId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="landlordId != null">landlord_id = #{landlordId},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="rentAmount != null">rent_amount = #{rentAmount},</if>
            <if test="depositAmount != null">deposit_amount = #{depositAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="contractFile != null">contract_file = #{contractFile},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContractsById" parameterType="Long">
        delete from contracts where id = #{id}
    </delete>

    <delete id="deleteContractsByIds" parameterType="String">
        delete from contracts where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>